#splash-row {
  background-color: #b4c0c0;
}

#splash-img {
  max-height: 120px;
}

.image--hidden {
  top: -1000px !important;
}

.navbar {
  width: 100%;
}

.navbar-blue {
  background-color: rgba(35, 57, 65, 86) !important;
}

#about-img {
  width: 100%;
}
